body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #3A3A3A;
    color: white;
  }


#logo{
    height: 40px;
    width: 200px;
}
.nav-item a{
    color: #f4f4f4;
  }
  .nav-item a:active{
    color: #D64E13 ;
  }
  .nav-item a:hover{
    color: #D64E13 ;
  }
  h1{
    color: #550e0e;
    font-size: 2em;
    
  }
 
  #header2 {
    align-items: flex-end;
    justify-content: flex-start;
  }
  
  .navbar-toggler {
    top: 0;
  right: 0;
  margin: 0;
  position: absolute;
  }
  .customnav {
    background-color: #550e0e;
    border-radius:  0px 0px 0px 10px;
    padding: 5px;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px; /* Largeur du menu */
    transform: translateX(100%); /* Le déplace complètement en dehors de l'écran */
    transition: transform 0.3s ease-in-out;
    z-index: 1050; /* Pour qu'il apparaisse au-dessus des autres éléments */
  }
  
  /* Lorsque le menu est ouvert, il se déplace vers sa position d'origine */
  .customnav.show {
    transform: translateX(0);
  }

  /* Contenu principal qui prend toute la hauteur disponible */
  section {
    flex: 1;
  }
  /* Footer */
  footer {
    background-color: black;
    color: white;
    text-align: right;
    padding: 20px;
  }